export(bootreg,compareModels,CVcluster,CVgam,confusion,ldaErr,plotFars,rfErr,rpartErr,RFcluster,bootreg,simreg,tabFarsDead,addhlines,gamRF,eventCounts,bssBYcut)
import(rpart, randomForest, lattice)
importFrom(latticeExtra, layer, layer_, glayer, glayer_, as.layer)
importFrom("graphics", "lines")
importFrom("stats", "aggregate", "as.formula", "coef",
           "complete.cases", "delete.response", "fitted", "formula",
           "lm", "model.frame", "model.response", "na.omit", "predict",
           "reformulate", "resid", "residuals", "rnorm", "terms","update")
importFrom("utils", "data")
importFrom("methods", "is")
